{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | {{ TITLE }}</title>
    <link rel="stylesheet" href="{{ tailwind_css_static }}">
    <script src="/static/js/alpine.js" defer></script>
    {% progressive_web_app_meta %}

    {% block extra_head %}

    {% endblock %}

    <script src="/static/js/push-notifications-cdn.js"></script>
</head>

<body class="bg-gray-100 font-mono">
    {% block content %}
    {% endblock %}

    <script src="/static/js/html5-qrcode.js"></script>

    {% block js %}
    {% endblock%}

</body>

</html>