{% extends "main/base.html" %}
{% load mathfilters %}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block js %}
<script src="{% static 'js/flowbite.min.js' %}"></script>
<script>
    function onScanSuccess(decodedText, decodedResult) {
        window.location.href = '{% url "pay" merchant_id=0 %}'.replace('0', decodedText);
        html5QrCode.stop();
    }

    function onScanFailure(error) {
    }


    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('button.action').forEach((button) => {
            button.addEventListener('click', () => {
                const loadingElement = document.getElementById('loading');
                if (loadingElement) {
                    loadingElement.style.display = 'flex';
                }
            });
        });
    });

    const html5QrCode = new Html5Qrcode("reader");
    const config = { fps: 10, qrbox: { width: 250, height: 250 } };
</script>

{% if not debug %}
<script>
    const beamsClient = new PusherPushNotifications.Client({
        instanceId: '{{BEAMS_PUSHER_INSTANCE_ID}}',
    });

    const beamsTokenProvider = new PusherPushNotifications.TokenProvider({
        url: "{{BASE_URL}}/beams/",
    });

    beamsClient
        .start()
        .then(() => beamsClient.setUserId("{{customer.user.pk}}", beamsTokenProvider))
        .catch(console.error);
</script>
{% endif %}

{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/flowbite.min.css' %}">
{% endblock %}

{% block content %}
<div class="min-h-screen w-full bg-black fixed z-50 bg-opacity-60 items-center hidden top-0" id="loading">
    <div role="status" class="w-full">
        <svg aria-hidden="true" class="w-20 h-20 text-gray-200 animate-spin fill-blue-600 mx-auto" viewBox="0 0 100 101"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="currentColor" />
            <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentFill" />
        </svg>
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="container mx-auto mt-8">
    <button onclick="Notification.requestPermission()" class="bg-blue-500 rounded text-white p-3 m-5">REQUEST
        NOTIFIKASI</button>

    {% for message in messages %}
    {% if message.tags == 'error' %}
    <p class="bg-red-100 border-red-500 text-black p-3 rounded drop-shadow">{{message}}</p>
    {% else %}
    <p class="bg-green-100 border-green-500 text-black p-3 rounded drop-shadow">{{message}}</p>

    {% endif %}
    {% endfor %}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

        <!-- Balance Card -->
        <div class="bg-white p-6 rounded-lg shadow-lg">
            {% if is_merchant %}
            <h2 class="text-2xl font-semibold mb-4">Saldo Anda</h2>
            <p class="text-gray-700 text-3xl font-bold">Rp. {{customer.balance}}</p>
            {% else %}
            <h2 class="text-2xl font-semibold mb-4">Saldo</h2>
            <p class="text-gray-700 text-3xl font-bold">Rp. {{customer.balance}}</p>
            <p class="text-gray-700 font-bold"><span class="text-green-400">Rp.
                    {{customer.buy_amount_today}}</span>/<span class="text-red-500">Rp.
                    {{customer.limit}}</span></p>
            {% endif %}
        </div>

        {% if is_wali %}
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="change_limit">
                <label for="limit">Limit Per Hari</label>
                <input type="text" id="limit" name="limit"
                    class="block outline-none w-full border border-blue-500 rounded bg-gray-50 h-10 p-2"
                    value="{{customer.limit_per_day}}">
                <button
                    class="action p-3 block w-full bg-blue-500 mt-4 hover:bg-blue-400 text-white rounded drop-shadow-md">Simpan</button>
            </form>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="give_withdraw">
                <label for="amount">Beri Izin Uang Cash</label>
                <input type="text" id="amount" name="amount"
                    class="block outline-none w-full border border-red-500 rounded bg-gray-50 h-10 p-2"
                    placeholder="Jumlah">
                <button
                    class="action p-3 block w-full bg-red-500 mt-4 hover:bg-red-400 text-white rounded drop-shadow-md">Kirim</button>
            </form>
        </div>

        <div class="bg-white p-6 rounded-lg shadow-lg">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="action" value="add_fund">
                <label for="image" class="underline">Tambah Uang</label>

                {{ recipient_html|safe }}

                <p class="mt-5">Upload bukti pengiriman</p>
                <input type="file" id="image" accept="image/*" name="image"
                    class="block outline-none w-full rounded bg-gray-50 h-10 p-2" placeholder="Jumlah">
                <button
                    class="action p-3 block w-full bg-green-500 mt-4 hover:bg-green-400 text-white rounded drop-shadow-md">Kirim</button>
            </form>
        </div>
        {% elif not is_merchant %}
        <!-- Actions Card -->
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <h2 class="text-2xl font-semibold mb-4">Aksi</h2>
            <div class="grid grid-cols-1 gap-4">
                <a href="/transfer" class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-700 text-center">
                    <span class="text-lg">Transfer</span>
                </a>
            </div>
            <div class="grid grid-cols-1 gap-4 mt-4">
                <a href="/pulsa" class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-700 text-center">
                    <span class="text-lg">Beli Pulsa</span>
                </a>
            </div>
            <div class="grid grid-cols-1 gap-4">
                <div class="w-full" id="reader"></div>
                <button class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-700"
                    onclick="html5QrCode.start({ facingMode: 'environment' }, config, onScanSuccess)">
                    Scan & Bayar
                </button>
            </div>
        </div>
        {% elif merchant %}
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <h2 class="text-2xl font-semibold mb-4">Aksi</h2>
            <div class="grid grid-cols-1 gap-4 mt-4">
                <a href="/pulsa" class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-700 text-center">
                    <span class="text-lg">Beli Pulsa</span>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
    <!-- Transaction History Card -->
    <div class="bg-white p-6 rounded-lg shadow-lg col-span-1 md:col-span-2">
        <h2 class="text-2xl font-semibold mb-4">Riwayat Transaksi</h2>

        <form method="get">
            <input type="hidden" name="action" value="filter">
            <div id="date-range-picker" date-rangepicker class="flex items-center justify-center my-3">
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                        </svg>
                    </div>
                    <input id="datepicker-range-start" name="start" type="text"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Dari Tanggal">
                </div>
                <span class="mx-4 text-gray-500">to</span>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                        </svg>
                    </div>
                    <input id="datepicker-range-end" name="end" type="text"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Sampai Tanggal">
                </div>
            </div>
            <button
                class="block mx-auto text-lg bg-blue-500 text-white rounded shadow-lg p-2 w-48 my-3 hover:bg-blue-400">Cari</button>

        </form>

        <div class="overflow-x-auto">
            <table class="min-w-full bg-white">
                <thead>
                    <tr>
                        <th class="py-2 px-4 border-b">Waktu</th>
                        <th class="py-2 px-4 border-b">Jumlah</th>
                        <th class="py-2 px-4 border-b">Keterangan</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <td class="py-2 px-4 border-b text-center">{{transaction.time}}</td>
                        {% if transaction.amount >= 1 %}
                        <td class="py-2 px-4 border-b text-center text-green-500">+Rp. {{transaction.amount}}
                        </td>
                        {% else %}
                        <td class="py-2 px-4 border-b text-center text-red-500">-Rp. {{transaction.amount|abs}}
                        </td>
                        {% endif %}
                        <td class="py-2 px-4 border-b text-center">{{transaction.caption}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}