{% extends "main/base.html" %}
{% load static %}

{% block title %} Transfer {% endblock %}

{% block content %}
<div class="min-h-screen w-full bg-black fixed z-50 bg-opacity-60 items-center hidden" id="loading">
    <div role="status" class="w-full">
        <svg aria-hidden="true" class="w-20 h-20 text-gray-200 animate-spin fill-blue-600 mx-auto" viewBox="0 0 100 101"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="currentColor" />
            <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentFill" />
        </svg>
        <span class="sr-only">Loading...</span>
    </div>

</div>

<div class="flex items-center justify-center h-screen z-0">
    <div class="w-full max-w-md bg-white rounded-lg shadow-md p-8">
        <h2 class="text-2xl font-semibold text-center mb-6">Transfer</h2>
        <div id="display1">
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <p class="bg-red-100 border-red-500 text-black p-3 rounded drop-shadow">{{message}}</p>
            {% else %}
            <p class="bg-green-100 border-green-500 text-black p-3 rounded drop-shadow">{{message}}</p>

            {% endif %}
            {% endfor %}
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Username
                </label>
                <input required
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-400 leading-tight focus:outline-none focus:shadow-outline"
                    id="username" type="text" placeholder="Username">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="amount">
                    Jumlah Transfer (Rp)
                </label>
                <input required
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                    id="amount" type="number" name="amount" placeholder="Jumlah Transfer">
            </div>
            <div class="flex items-center justify-between">
                <button id="submit"
                    class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Kirim
                </button>
            </div>
        </div>

        <div id="display2" class="hidden">
            <form method="post">
                {% csrf_token %}
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="username2">
                        Username
                    </label>
                    <input readonly
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-400 leading-tight focus:outline-none focus:shadow-outline"
                        id="username2" name="username2" type="text" placeholder="Username">
                </div>
                <div class="mb-6">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="amount2">
                        Jumlah Transfer (Rp)
                    </label>
                    <input readonly
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                        id="amount2" type="number" name="amount2" placeholder="Jumlah Bayar">
                </div>
                <div class="flex items-center justify-between">
                    <button id="submit2"
                        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        Kirim Gasss
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/sweetalert2.js' %}"></script>

<script>
    function formatRupiah(angka) {
        // Ubah angka menjadi string
        let numberString = angka.toString();

        // Pisahkan string menjadi ribuan
        let sisa = numberString.length % 3;
        let rupiah = numberString.substr(0, sisa);
        let ribuan = numberString.substr(sisa).match(/\d{3}/g);

        // Tambahkan titik jika string ribuan ada
        if (ribuan) {
            let separator = sisa ? '.' : '';
            rupiah += separator + ribuan.join('.');
        }

        // Tambahkan prefix "Rp"
        return 'Rp' + rupiah;
    }

    document.getElementById('submit').addEventListener('click', () => {
        const username = document.getElementById('username');
        const amount = document.getElementById('amount');
        if (amount.value != "" && username.value != "") {
            Swal.fire({
                'title': 'Konfirmasi',
                'text': `Kamu ingin mengirim ${formatRupiah(amount.value)}?`,
                'icon': 'question',
                'showCancelButton': true
            }).then(x => {
                if (x.isConfirmed) {
                    document.getElementById('display1').style.display = "none";
                    document.getElementById('display2').style.display = "block";
                    document.getElementById('amount2').value = amount.value;
                    document.getElementById('username2').value = username.value;
                }
            })
        }
    });

    document.getElementById('submit2').addEventListener('click', () => {
        document.getElementById('loading').style.display = "flex";
    });

</script>
{% endblock %}